<main class="main">
  <h1>Songs</h1>
  <div class='container paper' data-controller="songs">
    <ul class='songs-container background-primary'>
        <%= render SongComponent.with_collection(@songs) %>
    </ul>
    <div id="audio-container" data-songs-target="audioContainer">
      <p id="now-playing" data-songs-target="nowPlayingDisplayer">Click a song to play</p>
      <audio data-controller="mediaplayer" controls src=""></audio>
    </div>
    <div>
      <button class="paper-btn" data-action="click->songs#prev">Prev</button>
      <button class="paper-btn" data-action="click->songs#next">Next</button>
    </div>
  </div>
</main>
