body {
  background: #252526;
  color: #fff;
}

.main {
  margin: 0 auto;
  width: 960px;
}

.songs-container {
  height: 40vh;
  overflow: scroll;
  scroll-behavior: smooth;
}

.container {
  background: #181a1b;
  color: white;
}

.song:target {
  animation-name: fade-text;
  animation-duration: 5s;
}

.current-song {
  background: #FF7377 !important;
}

@keyframes fade-text {
  from {
    background: #3944BC;
    color: white;
  }

  to {
    background: inherit;
    color: inherit;
  }
}

@media screen and (max-width: 600px) {
  .main {
    margin: 0;
    width: 100%;
  }

  .songs-container {
    padding: 5px;
    height: 60vh;
  }
}
