.songs-container {
  max-height: 60vh;
  overflow: scroll;
}

.song {
  display: block;
  text-decoration: none;
}

.search-container {
  max-height: 20vh;
}

.controls-container {
  max-height: 20vh;
}

.submit-btn--half-block {
  width: 50%;
}

.input-container--block {
  width: 100%;
}

